p b i {
	color: red;
}
h1, h2, h3 {
	text-align: center;
    color: red;
}
h3 {
	font-size: 16px;
}
ul li > b {
	color: red;
}
.xxx {
	color: red;
}
.block1, .block3 {
	color: red;
}
.block2, .block4 {
	color: green;
}
.eee, .zzz, .ggg {
	text-align: center;
	font-family: Arial;
}
.eee {
	font-size: 20px;

}
.zzz {
	font-size: 30px;
}
.ggg {
	font-size: 35px;
}
h2.header {
	color: red;
    font-size: 40px;
}
h3.header {
	color: red;
    font-size: 30px;
}
.eee i {
	color: red;
}
.success {
	text-align: left;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
#elem1 {
    color: red;
}
#elem2 {
    color: green;
}
#elem3 {
    color: blue;
}
#block {
    font-size: 30px;
    font-family: Arial;
}
.text {
    color: blue;
}